body {
  background: rgb(18, 18, 61);
}
.step {
  width: 30px;
}

.stepCounter {
  pointer-events: none;
}

.label {
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 100px;
}